{#-
SPDX-FileCopyrightText: 2025 QuantCo Inc
SPDX-FileCopyrightText: 2026 copier-template-python-open-source contributors

SPDX-License-Identifier: 0BSD
SPDX-License-Identifier: MIT
-#}
{#- REUSE-IgnoreStart -#}
# SPDX-FileCopyrightText: {{ project_slug }} contributors
#
# SPDX-License-Identifier: {{ license }}
{#- REUSE-IgnoreEnd #}

import warnings as _warnings
from importlib import metadata as _metadata

try:
    __version__ = _metadata.version(__name__)
except _metadata.PackageNotFoundError as e:  # pragma: no cover
    _warnings.warn(f"Could not determine version of {__name__}\n{e!s}", stacklevel=2)
    __version__ = "unknown"
