# Explicitly unignore hidden files for ripgrep. Individual folders can still
# be ignored in the blocks below.
!.*

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/

# python
__pycache__/
.pytest_cache/
.mypy_cache/
*.py[cod]
*$py.class
.ipynb_checkpoints
.ruff_cache/
.venv
venv/
__pypackages__/
cython_debug/
*.egg-info/
*.egg
.pixi

# coverage
.coverage
.coverage.*
coverage.xml
/coverage
*.cover
*.py,cover
cover/
htmlcov/
.tox/
.nox/

# build outputs
build/
out/
output/
target/
dist/
.cache/
/site
docs/_build/
*.conda

# general
*.so
cmake-build-*/
*.log

# direnv, dotenv and similar
*.pem
.direnv
.envrc
.env
.env.*
!*.env.example

# customizations per repo
