{#-
SPDX-FileCopyrightText: 2025 QuantCo Inc
SPDX-FileCopyrightText: 2026 copier-template-python-open-source contributors

SPDX-License-Identifier: 0BSD
SPDX-License-Identifier: MIT
-#}
{#- REUSE-IgnoreStart -#}
# SPDX-FileCopyrightText: {{ project_slug }} contributors
#
# SPDX-License-Identifier: CC0-1.0
{#- REUSE-IgnoreEnd #}

version: 2

mkdocs:
  configuration: mkdocs.yml

build:
  os: ubuntu-24.04
  tools:
    python: "3.12"
  jobs:
    create_environment:
      - asdf plugin add pixi
      - asdf install pixi latest
      - asdf global pixi latest
    install:
      - pixi install -e default -e doc --frozen
    build:
      html:
        - pixi run docs-build $READTHEDOCS_OUTPUT
