{#-
SPDX-FileCopyrightText: 2026 copier-template-python-open-source contributors

SPDX-License-Identifier: MIT
-#}
{#- REUSE-IgnoreStart -#}
# SPDX-FileCopyrightText: {{ project_slug }} contributors
#
# SPDX-License-Identifier: {{ license }}
{#- REUSE-IgnoreEnd #}
