{#-
SPDX-FileCopyrightText: 2025 QuantCo Inc
SPDX-FileCopyrightText: 2026 copier-template-python-open-source contributors

SPDX-License-Identifier: 0BSD
SPDX-License-Identifier: MIT
-#}
{#- REUSE-IgnoreStart -#}
# SPDX-FileCopyrightText: {{ project_slug }} Contributors
#
# SPDX-License-Identifier: {{ license }}
{#- REUSE-IgnoreEnd #}

def test_hard():
    import {{ project_slug_snake_case }}  # noqa

    # this is just a demo that pytest can produce good error messages just by
    # parsing assert statements
    assert {"a": 1, "b": 2} == {"a": 1, "b": 2}
