{#-
SPDX-FileCopyrightText: 2026 copier-template-python-open-source contributors

SPDX-License-Identifier: MIT
-#}
{#- REUSE-IgnoreStart -#}
<!--
SPDX-FileCopyrightText: {{ project_slug }} contributors
SPDX-License-Identifier: CC-BY-4.0
-->
{#- REUSE-IgnoreEnd #}

<!--
By default, the index will be a copy of your repository README preamble.
You can replace this cross-reference or append/prepend to it by updating this page.
-->
--8<-- "README.md:docs"
