{#-
SPDX-FileCopyrightText: 2026 copier-template-python-open-source contributors

SPDX-License-Identifier: MIT
-#}
{#- REUSE-IgnoreStart -#}
<!--
SPDX-FileCopyrightText: PyPSA Contributors
SPDX-FileCopyrightText: {{ project_slug }} contributors

SPDX-License-Identifier: CC-BY-4.0
-->
{#- REUSE-IgnoreEnd #}

# Installation

## Installing a user environment

# Installation

!!! hint

    If it is your first time using Python, we recommend [pixi](https://pixi.prefix.dev/), [conda](https://docs.conda.io/projects/conda), or [uv](https://docs.astral.sh/uv/) as easy-to-use package managers.
    They are available for Windows, macOS, and GNU/Linux.
    It is always helpful to use dedicated environments.

You can install `{{ project_slug }}` via all common package managers:

=== "pixi"

    ``` bash
    pixi add --pypi {{ project_slug_snake_case }}
    ```

=== "uv"

    ``` bash
    uv add {{ project_slug_snake_case }}
    ```

=== "conda"

    ``` bash
    conda create -n {{ project_slug }} "python>={{ minimal_python_version.replace('py3', '3.') }}" "pip"
    conda activate {{ project_slug }}
    pip install {{ project_slug_snake_case }}
    ```

=== "pip"

    ``` bash
    pip install {{ project_slug_snake_case }}
    ```

`{{ project_slug }}` is written and tested to be compatible with Python {{ minimal_python_version.replace('py3', '3.') }} and above.
We recommend to use the latest version with active support (see [endoflife.date](https://endoflife.date/python)).

## Installing a development environment

The install instructions are slightly different to create a development environment compared to a user environment:

--8<-- "README.md:docs-install-dev"

For more detailed installation instructions specific to developing the `{{ project_slug }}` codebase, see our [development documentation][setting-up-a-development-environment].
