
# Installation

## Installing a user environment

{% if project_visibility == "internal" and (upload_conda_package or upload_pip_package) -%}
!!! note
    You must be on the Arup network to install {{ module_name }}, either by connecting in an office or via the Arup VPN.
{% endif -%}

As a `{{ module_name }}` user, it is easiest to install using the [conda](https://docs.conda.io/en/latest/) package manager, as follows:

1. Install conda with the [miniforge](https://github.com/conda-forge/miniforge?tab=readme-ov-file#download) executable for your operating system.
   Arup users on Windows can install `miniforge` from the Arup software shop by downloading "VS Code for Python".
1. Open the command line (or the VSCode "integrated terminal" in Windows).
{%- if upload_conda_package%}
1. Create the {{ repository_name }} conda environment: `conda create -n {{ repository_name }} -c conda-forge -c {{ conda_channel }} {{ package_name }}`
1. Activate the {{ repository_name }} conda environment: `conda activate {{ repository_name }}`
{%- elif upload_pip_package%}
1. Create a {{ repository_name }} conda environment: `conda create -n {{ repository_name }} -c conda-forge python`
1. Activate the {{ repository_name }} conda environment: `conda activate {{ repository_name }}`
{%- if project_visibility == "internal" %}
1. Install the {{ package_name }} package into the environment: `pip install https://packages.arup.com/{{ package_name }}.tar.gz`
{%- else %}
1. Install the {{ package_name }} package into the environment: `pip install {{ package_name }}`
{%- endif %}
{%- else %}
1. Download (a.k.a., clone) the {{ repository_name }} repository: `git clone git@github.com:{{ repository_owner }}/{{ repository_name }}.git`
1. Change into the `{{ repository_name }}` directory: `cd {{ repository_name }}`
1. Create the {{ repository_name }} conda environment: `conda create -n {{ repository_name }} -c conda-forge -c city-modelling-lab --file requirements/base.txt`
1. Activate the {{ repository_name }} conda environment: `conda activate {{ repository_name }}`
1. Install the {{ package_name }} package into the environment, ignoring dependencies (we have dealt with those when creating the conda environment): `pip install --no-deps .`
{%- endif %}

All together:

--8<-- "README.md:docs-install-user"

!!! tip
    If you are an Arup user and are having difficulties with creating the `conda` environment, it may be due to *SSL certificates*.
    You'll know that this is the case because there will be mention of "SSL" in the error trace.
    Search `SSL Certificates` on the Arup internal Sharepoint to find instructions on adding the certificates for `conda`.
    Windows users who have installed "VS Code for Python" from the software shop should have all the relevant certificates in place, but you will need to follow the instructions given on the SharePoint troubleshooting page if you want to run the command from in a Windows Subsystem for Linux (WSL) session.

{%- if create_jupyter_notebook_directory %}

### Running the example notebooks

If you have followed the non-developer installation instructions above, you will need to install `jupyter` into your `{{ repository_name }}` environment to run the [example notebooks](https://github.com/{{ repository_owner }}/{{ repository_name }}/tree/main/examples):

``` shell
conda install -n {{ repository_name }} jupyter
```

With Jupyter installed, it's easiest to then add the environment as a jupyter kernel:

``` shell
conda activate {{ repository_name }}
ipython kernel install --user --name={{ repository_name }}
jupyter notebook
```

### Choosing a different environment name

If you would like to use a different name to `{{ repository_name }}` for your conda environment, the installation becomes (where `[my-env-name]` is your preferred name for the environment):

``` shell
conda create -n [my-env-name] -c conda-forge --file requirements/base.txt
conda activate [my-env-name]
ipython kernel install --user --name=[my-env-name]
```
{%- endif %}

## Installing a development environment

The install instructions are slightly different to create a development environment compared to a user environment:

--8<-- "README.md:docs-install-dev"

For more detailed installation instructions specific to developing the {{ module_name }} codebase, see our [development documentation][setting-up-a-development-environment].
